<table class="list comments">
	<% @page.comments.each do |c| %>
		<tr>
			<td>
				<p>
					<strong><%= c.name %></strong><br />
					<% if c.email? %><%= mail_to c.email, c.email %><br /><% end %>
					<% if c.url? %><%= link_to c.url, c.url %><br /><% end %>
				</p>
				<p>
					<%= time_ago_in_words c.created_at %> ago<br />
					from <%= c.remote_ip %>
				</p>
				<p>
					<%= link_to "Delete comment", delete_comment_admin_page_url( :id => @page, :comment_id => c, :language => @language ), :confirm => 'Are you sure?', :class => :delete %>
				</p>
			</td>
			<td><%= c.body %></td>
		</tr>
	<% end %>
</table>
