<%= content_tab "Content" do %>
  <%= react_component(
    "PageContent",
    { locale: content_locale,
      locales: locales_with_dir,
      page: Admin::PageResource.new(@page),
      templates: PagesCore::Templates.all.map { |t| Admin::TemplateConfigurationResource.new(t) } }
  ) %>
<% end %>

<% if @page.unconfigured_blocks.any? %>
  <%= content_tab "Unconfigured content" do %>
    <p>
      This page has additional content fields not enabled by the
      selected template.
    </p>
    <% @page.unconfigured_blocks do |block_name, block_options| %>
      <%= page_block_field(f, block_name, block_options) %>
    <% end %>
  <% end %>
<% end %>

<% if @page.template_config.value(:images) || @page.template_config.value(:image) %>
  <%= content_tab "Images" do %>
    <%= react_component(
      "PageImages",
      { locale: content_locale,
        locales: locales_with_dir,
        records: @page.page_images.map { |pi| Admin::PageImageResource.new(pi).to_hash } }
    ) %>
  <% end %>
<% end %>

<% if @page.template_config.value(:files) %>
  <%= content_tab "Files" do %>
    <%= react_component(
      "PageFiles",
      { locale: content_locale,
        locales: locales_with_dir,
        records: @page.files.map { |pf| Admin::PageFileResource.new(pf).to_hash }}
    ) %>
  <% end %>
<% end %>

<%= content_tab "Metadata" do %>
  <%= react_component(
    "PageMetadata",
    { locale: content_locale,
      locales: locales_with_dir,
      page: Admin::PageResource.new(@page),
      templates: PagesCore::Templates.all.map { |t| Admin::TemplateConfigurationResource.new(t) } }
  ) %>
<% end %>
