<%
	if page.news_page?
		subpages = []
	else
		subpages = page.pages(:drafts => true, :hidden => true, :all_languages => true, :autopublish => true)
	end
	page_classes = ['page', 'page_listing']
	page_classes << 'page_without_language' unless page.name?
-%>
<li page_id="<%= page.id %>">
	<div class="<%= page_classes.join(' ') %>" id="pagelisting_<%= page.id %>">
		<% if page.published? %>
			<%= link_to(page_name(page), edit_admin_page_url(@language, page), :class => 'page_name') %>
		<% else %>
			<em>
				<%= link_to(page_name(page), edit_admin_page_url(@language, page), :class => 'page_name') %>
				<small class="status">
					(<%= (page.autopublish?) ? "Autopublish at "+page.autopublish_at.to_formatted_s(:short)  : page.status_label %><% if page.draft? && page.author %> by <%= page.author.realname %><% end %>)</small>
			</em>
		<% end %>
		<%= image_tag( "feed-icon-14x14.png", :size=>"10x10", :plugin => :pages ) if page.feed_enabled? %>
		<div class="actions">
			&mdash;
			<%= link_to "Edit", edit_admin_page_url( @language, page ) %> /
			<%= link_to "Create subpage", new_admin_page_url( :language => @language, :parent => page ) %>
			&mdash;
			<small>last updated <%= time_ago_in_words page.updated_at %> ago</small>
		</div>
	</div>
	<% if page.news_page? %>
		<ul>
			<li><div class="page_listing">
				<em>(<%= page.count_pages(:drafts => true, :hidden => true, :all_languages => true, :autopublish => true) %> items)</em>
				<div class="actions">
					&mdash;
					<%= link_to "Create new", new_news_admin_pages_url(:language => @language, :parent => page) %>
				</div>
			</div></li>
		</ul>
	<% elsif subpages.length > 0 %>
		<ul <%= 'class="reorderable"' if page.reorderable_children? %> parent_page_id="<%= page.id %>"><% subpages.each do |subpage| %>
			<%= render :partial => "pagelisting", :locals => { :page => subpage } %>
		<% end %></ul>
	<% end %>
</li>
