<%
	page_title       "Editing “" + @page.name.to_s + "”"
	page_description "Editing " + [@page.ancestors,@page].flatten.map{ |page| link_to((page.name rescue "(Untitled)"), edit_admin_page_path( :id => page, :language => @language )) }.join( " &raquo; " )

	if PagesCore.config.localizations?
		page_description_links "In " + @available_languages.map{ |l| link_to_unless_current( Language.name_for_code( l ), hash_for_edit_admin_page_path( :id => @page, :language => l ) ) }.join( link_separator ) 
	end

%>



<%# #### SIDEBAR ########################################################### %>

<% sidebar do %>
	<h2>About this page</h2>
	<p>
		This page was last modified <%= time_ago_in_words @page.updated_at %> ago by 
		<%= link_to @page.author.realname, admin_user_path( @page.author ) %>.
	</p>
<% end %>



<%# #### EDIT AREA ######################################################### %>

<% form_for 'page', @page, :url => admin_page_url( :id => @page, :language => @language ), :html => { :class => :edit_page, :id => 'page-form', :method => :put, :multipart => true } do |f| %>

	<%# #### CONTENT #### %>
	<% content_tab "Content" do %>
		<%= render :partial => 'page_content_form', :locals => {:f => f} %>
	<% end %>

	<%# #### PRESENTATION #### %>
	<% content_tab "Presentation" do %>
		<%= labelled_field f.select( :template, available_templates_for_select ), "Template", 
			:errors      => @page.errors[:template]
		%>
		<% if @page.template_config.value(:image) %>
			<% if @page.image %>
				<p>
					<%= editable_dynamic_image_tag(@page.image, :size => '300x200') %>
				</p>
				<p>
					<%= link_to "Delete image", delete_presentation_image_admin_page_path(:language => @language, :id => @page), :method => :delete, :class => :delete, :confirm => "Are you sure? There is no undo" %>
				</p>
			<% end %>
			<%= labelled_field f.file_field( :image ), "Image", 
				:errors      => @page.errors[:template],
				:description => "The template you have selected allows you to attach an image, which will be scaled and positioned to fit the design."
			%>
			<%= labelled_field text_field_tag('page_image_description', (@page.image.description rescue ""), :size => 48 ), "Caption" %>
			<% if @page.image && @page.template_config.options(:image)[:linkable] %>
				<%= labelled_field f.text_field( :image_link ), "Image link <small>(including http://)</small>", 
					:errors      => @page.errors[:image_link]
				%>
			<% end %>
		<% end %>
	<% end %>
	
	<%# #### CATEGORIZATION #### %>
	<% content_tab "Categorization" do %>
		<h3>Categories</h3>
		<% if @categories.length > 0 %>
			<p>
				<% @categories.each do |category| %>
					<%= check_box_tag "category[#{category.id}]", "1", (@page.categories.include?(category) ? true : false) %><strong><%= category.name %></strong><br />
				<% end %>
			</p>
		<% else %>
			<p>No categories have been added yet.</p>
		<% end %>
		<%= labelled_field f.text_field( :tag_list, :class => 'text' ), "Tags", 
			:errors      => @page.errors[:tag_list]
		%>
	<% end %>

	<%# #### ADDITIONAL IMAGES #### %>
	<% if @page.template_config.value(:images) %>
		<% content_tab "Additional images" do %>
			<p>
				<%= button_to_function "Upload images", "showAdditionalImageModal();" %>
			</p>
			<% unless @page.images.empty? %>
				<table class="list images_list">
					<tr>
						<th>Image</th>
						<!--<th>Title</th>-->
						<th>Caption</th>
						<th></th>
					</tr>
					<% @page.images.each do |image| %><tr>
						<td class="thumbnail"><%= editable_dynamic_image_tag image, :size => '100x100' %></td>
						<!--<td><strong><%= image.name %></strong></td>-->
						<td>
							<div id="image-caption-<%= image.id %>"><%= ( image.byline? ) ? image.byline : "<em>No caption</em>" %></div>
							<script type="text/javascript">
								new Ajax.InPlaceEditor(
									'image-caption-'+<%= image.id %>, 
									"<%= url_for(:controller => 'admin/pages', :action => 'update_image_caption', :id => @page) %>",
									{
										callback: function(form, value) { return 'image_id='+<%= image.id %>+'&caption=' + encodeURIComponent(value) }
									}
								);
							</script>
						</td>
						<td>
							<%= link_to "Delete", delete_image_admin_page_path( :id => @page, :image_id => image, :language => @language, :show_tab => 'additional images' ), :class => :delete, :confirm => 'Are you sure?' %>
						</td>
					</tr><% end %>
				</table>
				<p>
					Click on the caption text to edit it.
				</p>
			<% else %>
				<p>No images added yet.</p>
			<% end %>
		<% end %>
	<% end %>


	<%# #### FILES #### %>
	<% if @page.template_config.value(:files) %>
		<% content_tab "Files" do %>
			<% if @page.files? %>
				<ul id="filelist">
					<% @page.files.each do |file| %>
						<li id="file_<%= file.id %>">
							<%= image_tag 'admin/drag-handle.gif', :class => :handle, :plugin => :pages %>
							<strong><%= file.name %></strong> &ndash; <%= link_to file.filename, page_file_path( @language, @page, file ) %> 
							(<%= link_to "Delete", admin_page_file_path( @language, @page, file ), :class => :delete, :method => :delete, :confirm => 'Are you sure? There is no undo.' %>)
						</li>
					<% end %>
				</ul>
				<%= sortable_element 'filelist', :url => reorder_admin_page_files_path( @language, @page ), :handle => 'handle' %>
			<% else %>
				<p>No files added yet.</p>
			<% end %>
			<p>
				<%= link_to_function "Add new file", "Element.show('new-file');", :class => :create %>
			</p>
		<% end %>
	<% end %>


	<%# #### COMMENTS #### %>
	<% if @page.template_config.value(:comments) %>
		<% content_tab "Comments" do %>
			<%= labelled_field f.check_box( :comments_allowed ), "Comments allowed", 
				:errors      => @page.errors[:comments_allowed],
				:check_box_description => "Comments are allowed on this page"
			%>
			<% if @page.comments.count > 0 %>
				<table class="list comments_list">
					<% @page.comments.each do |c| %>
						<tr>
							<td>
								<strong><%= c.name %></strong><br />
								<% if c.email? %><%= mail_to c.email, c.email %><br /><% end %>
								<% if c.url? %><%= link_to c.url, c.url %><br /><% end %>
							</td>
							<td><%= c.body %></td>
							<td>
								<%= time_ago_in_words c.created_at %> ago<br />
								from <%= c.remote_ip %>
							</td>
							<td>
								<%= link_to "Delete", delete_comment_admin_page_url( :id => @page, :comment_id => c, :language => @language ), :confirm => 'Are you sure?', :class => :delete %>
							</td>
						</tr>
					<% end %>
				</table>
			<% else %>
				<p>No comments added.</p>
			<% end %>
		<% end %>
	<% end %>
	

	<%# #### ADVANCED OPTIONS #### %>
	<% content_tab "Options" do %>
		<%= labelled_field (
				f.datetime_select( 'published_at' ) + " &nbsp;by&nbsp; " + f.select( 'user_id', @authors.collect { |a| [a.realname, a.id] } )
			), 
			"Published timestamp",
			:errors      => @page.errors[:published_at]
		%>
		<%= labelled_field f.select( :content_order, [ ['Manually','position'], ['Newest first','published_at DESC'] ] ), "Order subpages", 
			:errors      => @page.errors[:content_order]
		%>
		<p class="field">
			<label>Options</label>
			<%= f.check_box(:feed_enabled) %> Enable RSS feed for items below this page<br />
			<%= f.check_box(:news_page) %> This is a news page<br />
		</p>
		<%= labelled_field f.text_field(:unique_name), "Unique name", :errors => @page.errors[:unique_name] %>
		<%= labelled_field f.text_area( :redirect_to, :rows => 4 ), "Redirect/Link", 
			:errors      => @page.errors[:redirect_to]
		%>
		<p class="field">
			<label>Import subpages</label>
			<%= link_to "Import subpages from XML", import_xml_admin_page_path(:language => @language, :id => @page) %>
		</p>
	<% end %>
	
	<div class="buttons">
		<button type="button" id="previewButton">Preview</button>
		<%= pages_button_to "Save changes" %>
	</div>


<% end %>

<%# #### UPLOAD IMAGE #### %>
<div id="new-image">
	<h2>Upload images</h2>
	<% form_for 'image', @new_image, :url => add_image_admin_page_url( :id => @page, :language => @language ), :html => { :method => :post, :multipart => true } do |f| %>

		<table>
			<tr>
				<th>File</th>
				<th>Caption</th>
			</tr>
			<% 10.times do |i| %>
				<tr>
					<td>
						<%= file_field_tag("images[#{i}][imagefile]") %>
					</td>
					<td>
						<%= text_field_tag("images[#{i}][byline]", '', :size => 48) %>
					</td>
				</tr>
			<% end %>
		</table>

		<% if false %>
		<%= labelled_field f.file_field( :imagefile ), "File", 
			:errors      => @new_image.errors[:imagefile]
		%>
		<%# labelled_field f.text_field( :name, :size => 48 ), "Title", 
			:errors      => @new_image.errors[:name]
		%>
		<%= labelled_field f.text_field( :byline, :size => 48 ), "Caption", 
			:errors      => @new_image.errors[:byline]
		%>
		<% end %>
		<p>
			<%= submit_tag "Upload" %> or 
			<%= link_to_function "Cancel", "Modal.clear();", :class => :cancel %>
		</p>
	<% end %>
</div>

<%# #### UPLOAD FILE #### %>
<% if @page.template_config.value(:files) %>
	<div id="new-file" class="page_new_file">
		<h2>Upload new file</h2>
		<% form_for( ( @new_file = PageFile.new ), :url => admin_page_files_path( @language, @page ), :html => { :multipart => true } ) do |f| %>
			<%= labelled_field f.text_field( :name, :size => 48 ), "Name", 
				:errors      => @new_file.errors[:name]
			%>
			<%= labelled_field f.text_field( :description, :size => 48 ), "Description", 
				:errors      => @new_file.errors[:name]
			%>
			<%= labelled_field f.file_field( :file ), "File", 
				:errors      => @new_file.errors[:file]
			%>
			<p>
				<%= submit_tag "Upload" %> or <%= link_to_function "Cancel", "Element.hide('new-file');", :class => :cancel %>
			</p>
		<% end %>
	</div>
<% end %>
