<%
	page_title       "Editing “" + @page.name.to_s + "”"
	page_description "Editing " + [@page.ancestors.reverse,@page].flatten.map{|page| link_to((page.name rescue "(Untitled)"), edit_admin_page_path(@language, page))}.join(" &raquo; ")

	if PagesCore.config.localizations?
		page_description_links 'In ' + @available_languages.map{|l| link_to_unless_current(Language.name_for_code(l), edit_admin_page_path(l, @page))}.join(link_separator)
	end
%>



<%# #### SIDEBAR ########################################################### %>

<% sidebar do %>
	<% form_for 'page', @page, :html => {:class => :edit_page, :id => 'page-form-sidebar'} do |f| %>
		<%= render :partial => 'edit_options', :locals => {:f => f} %>
	<% end %>
<% end %>



<%# #### EDIT AREA ######################################################### %>

<% form_for 'page', @page, :url => admin_page_url(@language, @page), :html => {:class => :edit_page, :id => 'page-form', :method => :put, :multipart => true} do |f| %>

	<div class="hiddenOptions">
		<%= render :partial => 'edit_options', :locals => {:f => f} %>
	</div>

	<%# #### CONTENT #### %>
	<% content_tab "Content" do %>
		<%= render :partial => 'edit_content', :locals => {:f => f} %>
	<% end %>

	<%# #### IMAGES #### %>
	<% if @page.template_config.value(:images) %>
		<% content_tab "Images" do %>
			<% if @page.page_images.any? %>
				<% @page.page_images.each do |i| %>
					<div class="image <%= ' primary' if i.image.primary? %>">
						<%= dynamic_image_tag(i.image, :size => '100x100', :crop => true, :upcase => true) %>
					</div>
				<% end %>
			<% end %>
			<!-- 
			<p><%= button_to_function "Upload images", "showAdditionalImageModal();" %></p>
			<% if @page.page_images.any? %>
				<table class="list images_list">
					<tr>
						<th>Image</th>
						<th>Title</th>
						<th>Caption</th>
						<th>Primary</th>
						<th>Controls</th>
					</tr>
					<% @page.page_images.each do |pi| %><tr>
						<% if pi.image %>
							<td class="thumbnail"><%= editable_dynamic_image_tag pi.image, :size => '100x100' %></td>
							<td><strong><%= pi.image.name %></strong></td>
							<td>
								<div id="image-caption-<%= pi.image.id %>"><%= ( pi.image.byline? ) ? pi.image.byline : "Click to edit" %></div>
								<script type="text/javascript">
									new Ajax.InPlaceEditor(
										'image-caption-'+<%= pi.image.id %>, 
										"<%= url_for(:controller => 'admin/pages', :action => 'update_image_caption', :id => @page) %>",
										{
											callback: function(form, value) { return 'image_id='+<%= pi.image.id %>+'&caption=' + encodeURIComponent(value) }
										}
									);
								</script>
							</td>
							<td>
								<%= f.radio_button :image_id, pi.image.id %>
							</td>
							<td>
								<%= link_to "Delete", delete_image_admin_page_path( :id => @page, :image_id => pi.id, :language => @language, :show_tab => 'images' ), :class => :delete, :confirm => 'Are you sure?' %>
							</td>
						<% else %>
							Error: <%= pi.id %>
						<% end %>
					</tr><% end %>
				</table>
			<% else %>
				<p>No images added yet.</p>
			<% end %>
			-->
		<% end %>
	<% end %>


	<%# #### FILES #### %>
	<% if @page.template_config.value(:files) %>
		<% content_tab "Files" do %>
			<% if @page.files? %>
				<ul id="filelist">
					<% @page.files.each do |file| %>
						<li id="file_<%= file.id %>">
							<%= image_tag 'admin/drag-handle.gif', :class => :handle, :plugin => :pages %>
							<strong><%= file.name %></strong> &ndash; <%= link_to file.filename, page_file_path( @language, @page, file ) %> 
							(<%= link_to "Delete", admin_page_file_path( @language, @page, file ), :class => :delete, :method => :delete, :confirm => 'Are you sure? There is no undo.' %>)
						</li>
					<% end %>
				</ul>
				<%= sortable_element 'filelist', :url => reorder_admin_page_files_path( @language, @page ), :handle => 'handle' %>
			<% else %>
				<p>No files added yet.</p>
			<% end %>
			<p>
				<%= link_to_function "Add new file", "Element.show('new-file');", :class => :create %>
			</p>
		<% end %>
	<% end %>


	<%# #### COMMENTS #### %>
	<% if @page.template_config.value(:comments) %>
		<% if @page.comments.count > 0 %>
			<% content_tab "Comments" do %>
				<table class="list comments_list">
					<% @page.comments.each do |c| %>
						<tr>
							<td>
								<strong><%= c.name %></strong><br />
								<% if c.email? %><%= mail_to c.email, c.email %><br /><% end %>
								<% if c.url? %><%= link_to c.url, c.url %><br /><% end %>
							</td>
							<td><%= c.body %></td>
							<td>
								<%= time_ago_in_words c.created_at %> ago<br />
								from <%= c.remote_ip %>
							</td>
							<td>
								<%= link_to "Delete", delete_comment_admin_page_url( :id => @page, :comment_id => c, :language => @language ), :confirm => 'Are you sure?', :class => :delete %>
							</td>
						</tr>
					<% end %>
				</table>
			<% end %>			
		<% else %>
			<% content_tab "Comments", {:disabled => true} do %>
				<p>No comments added.</p>
			<% end %>
		<% end %>
	<% end %>
	

	<div class="buttons">
		<button type="button" id="previewButton">Preview</button>
		<%= pages_button_to "Save changes" %>
	</div>

<% end %>

<%# #### UPLOAD IMAGE #### %>
<!--
<div id="new-image">
	<h2>Upload images</h2>
	<% form_for 'image', @new_image, :url => add_image_admin_page_url( :id => @page, :language => @language ), :html => { :method => :post, :multipart => true } do |f| %>

		<table>
			<tr>
				<th>File</th>
				<th>Caption</th>
			</tr>
			<% 10.times do |i| %>
				<tr class="hidden">
					<td>
						<%= file_field_tag("images[#{i}][imagefile]") %>
					</td>
					<td>
						<%= text_field_tag("images[#{i}][byline]", '', :size => 48) %>
					</td>
				</tr>
			<% end %>
		</table>

		<% if false %>
		<%= labelled_field f.file_field( :imagefile ), "File", 
			:errors      => @new_image.errors[:imagefile]
		%>
		<%# labelled_field f.text_field( :name, :size => 48 ), "Title", 
			:errors      => @new_image.errors[:name]
		%>
		<%= labelled_field f.text_field( :byline, :size => 48 ), "Caption", 
			:errors      => @new_image.errors[:byline]
		%>
		<% end %>
		<p>
			<%= submit_tag "Upload" %> or 
			<%= link_to_function "Cancel", "Modal.clear();", :class => :cancel %>
		</p>
	<% end %>
</div>
-->

<%# #### UPLOAD FILE #### %>
<% if @page.template_config.value(:files) %>
	<div id="new-file" class="page_new_file">
		<h2>Upload new file</h2>
		<% form_for( ( @new_file = PageFile.new ), :url => admin_page_files_path( @language, @page ), :html => { :multipart => true } ) do |f| %>
			<%= labelled_field f.text_field( :name, :size => 48 ), "Name", 
				:errors      => @new_file.errors[:name]
			%>
			<%= labelled_field f.text_field( :description, :size => 48 ), "Description", 
				:errors      => @new_file.errors[:name]
			%>
			<%= labelled_field f.file_field( :file ), "File", 
				:errors      => @new_file.errors[:file]
			%>
			<p>
				<%= submit_tag "Upload" %> or <%= link_to_function "Cancel", "Element.hide('new-file');", :class => :cancel %>
			</p>
		<% end %>
	</div>
<% end %>
