<%
  self.page_title = "Editing “" + @page.name.to_s + "”"
  self.page_description = "Editing " + [@page.ancestors.reverse,@page].flatten.map{|page| link_to((page.name rescue "(Untitled)"), edit_admin_page_path(@locale, page))}.join(" &raquo; ")

  if PagesCore.config.localizations?
    self.page_description_links = "In " + safe_join(
      PagesCore.config.locales.map do |l, name|
        link_to_unless((l == @locale.to_sym), name, edit_admin_page_path(l, @page.localize(l)))
      end,
      link_separator)
  end
%>



<%# #### SIDEBAR ########################################################### %>

<% content_for :sidebar do %>
  <%= form_for(@page,
               url: admin_page_url(@locale, @page),
               html: {class: "edit-page", id: 'page-form-sidebar'},
               builder: PagesCore::Admin::FormBuilder) do |f| %>
    <%= render partial: 'edit_options', locals: {f: f} %>
  <% end %>
<% end %>



<%# #### EDIT AREA ######################################################### %>

<%= form_for(@page,
             url: admin_page_url(@locale, @page),
             html: {
               class: "edit-page",
               id: 'page-form',
               method: :put,
               multipart: true
             },
             builder: PagesCore::Admin::FormBuilder
) do |f| %>

  <div class="hidden-options">
    <%= render partial: 'edit_options', locals: {f: f} %>
  </div>

  <%# #### CONTENT #### %>
  <%= content_tab "Content" do %>
    <%= render partial: 'edit_content', locals: {f: f} %>
  <% end %>

  <%# #### IMAGES #### %>
  <% if @page.template_config.value(:images) || @page.template_config.value(:image) %>
    <%= content_tab "Images" do %>
      <%= render partial: 'edit_images', locals: {f: f} %>
    <% end %>
  <% end %>


  <%# #### FILES #### %>
  <% if @page.template_config.value(:files) %>
    <%= content_tab "Files" do %>
      <% if @page.files.any? %>
        <ul class="file-list" data-url="<%= reorder_admin_page_files_url(@locale, @page) %>">
          <% @page.files.each do |file| %>
            <li data-file-id="<%= file.id %>">
              <span class="actions">
                <span class="embed-code">
                  <%= file_embed_code(file) %>
                </span>
                <%= link_to "Delete", admin_page_file_path(@locale, @page, file), class: :delete, method: :delete, data: {confirm: 'Are you sure? There is no undo.'} %>
              </span>
              <div class="drag-handle"></div>
              <strong><%= file.name %></strong> &ndash; <%= link_to file.filename, page_file_path(@locale, @page, file) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No files added yet.</p>
      <% end %>
      <p>
        <button type="button" class="upload-file-button">
          Upload file
        </button>
      </p>
    <% end %>
  <% end %>


  <%# #### METADATA #### %>
  <%= content_tab "Metadata" do %>
    <%= render partial: 'edit_metadata', locals: {f: f} %>
  <% end %>

  <div class="buttons">
    <button type="button" id="previewButton" data-url="<%= preview_page_url(@page.locale, @page) %>">
      Preview
    </button>
    <button type="submit">
      Save
    </button>
  </div>

<% end %>

<%# #### UPLOAD IMAGE #### %>
<div id="new-image">
  <h2>Upload images</h2>
  <%= form_for(@page.page_images.new, url: admin_page_images_url(@locale, @page), html: {multipart: true}) do |f| %>

    <table>
      <tr>
        <th>File</th>
        <th>Caption</th>
      </tr>
      <% 10.times do |i| %>
        <tr class="">
          <td>
            <%= file_field_tag("page_images[#{i}][image]") %>
          </td>
          <td>
            <%= text_field_tag("page_images[#{i}][image_attributes][caption]", '', size: 48) %>
          </td>
        </tr>
      <% end %>
    </table>

    <p>
      <%= submit_tag "Upload" %> or
      <%= link_to "Cancel", "#", class: "cancel clear-modal" %>
    </p>
  <% end %>
</div>


<%# #### UPLOAD FILE #### %>
<% if @page.template_config.value(:files) %>
  <div id="new-file" class="page_new_file">
    <h2>Upload new file</h2>
    <%= form_for((@new_file = PageFile.new),
                 url: admin_page_files_path(@locale, @page),
                 html: {multipart: true}) do |f| %>
      <%= labelled_field f.text_field( :name, size: 48 ), "Name",
        errors: @new_file.errors[:name]
      %>
      <%= labelled_field f.text_field( :description, size: 48 ), "Description",
        errors: @new_file.errors[:name]
      %>
      <%= labelled_field f.file_field( :file ), "File",
        errors: @new_file.errors[:file]
      %>
      <p>
        <%= submit_tag "Upload" %> or
        <%= link_to "Cancel", "#", class: "cancel clear-modal" %>
      </p>
    <% end %>
  </div>
<% end %>
