<%
	page_title       "“" + @page.name.to_s + "” : XML Import"
	page_description "Importing XML to " + [@page.ancestors,@page].flatten.map{ |page| link_to((page.name rescue "(Untitled)"), edit_admin_page_path( :id => page, :language => @language )) }.join( " &raquo; " )
	if PagesCore.config( :localizations )
		page_description_links "In " + @available_languages.map{ |l| link_to_unless_current( Language.name_for_code( l ), hash_for_edit_admin_page_path( :id => @page, :language => l ) ) }.join( link_separator ) 
	end

%>



<%# #### SIDEBAR ########################################################### %>

<% sidebar do %>
	<h2>About this page</h2>
	<p>
		This page was last modified <%= time_ago_in_words @page.updated_at %> ago by 
		<%= link_to @page.author.realname, admin_user_path( @page.author ) %>.
	</p>
<% end %>

<% if @created_pages %>
	<div class="content"><p><%= @created_pages.length %> pages were imported.</p></div>
<% end %>

<% form_tag import_xml_admin_page_path(:language => @language, :id => @page), :multipart => true do %>
	<%= labelled_field file_field_tag(:xmlfile), "XML file" %>
	<p><%= submit_tag "Upload" %></p>
<% end %>


