<%
  page_title       "“" + @page.name.to_s + "” : XML Import"
  page_description "Importing XML to " + [@page.ancestors,@page].flatten.map{ |page| link_to((page.name rescue "(Untitled)"), edit_admin_page_path(@locale, page)) }.join( " &raquo; " )

  if PagesCore.config.localizations?
    page_description_links 'In ' + PagesCore.config.locales.map{ |l, n| link_to_unless_current n, edit_admin_page_path(l, @page) }.join(link_separator)
  end
%>



<%# #### SIDEBAR ########################################################### %>

<% content_for :sidebar do %>
  <h2>About this page</h2>
  <p>
    This page was last modified <%= time_ago_in_words @page.updated_at %> ago by
    <%= link_to @page.author.name, admin_user_path( @page.author ) %>.
  </p>
<% end %>

<% if @created_pages %>
  <div class="content"><p><%= @created_pages.length %> pages were imported.</p></div>
<% end %>

<%= form_tag import_xml_admin_page_path(@locale, @page), :multipart => true do %>
  <%= labelled_field file_field_tag(:xmlfile), "XML file" %>
  <p><%= submit_tag "Upload" %></p>
<% end %>
