<%
  page_title "Pages"
  page_description "Viewing pages"

  if PagesCore.config.localizations?
    page_description_links 'In ' + @available_languages.map{|l| link_to_unless_current(Language.name_for_code(l), hash_for_admin_pages_path(:language => l))}.join(link_separator)
  end
%>

<% content_for :sidebar do %>
  <h2>New page</h2>
  <p>
    <%= form_tag new_admin_page_path, :method => :get do %>
      In <%= select_tag 'parent', options_from_collection_for_select(@root_pages, 'id', 'name') %>
      <%= submit_tag "Go", :name => nil %>
    <% end %>
  </p>
  <p>
    You can also <%= link_to "create a new root page", new_admin_page_path(:language => @language) %>.
  </p>
  <h2>Structure</h2>
  <p>
    <button id="reorder_link" type="button">Reorder the pages</button>
  </p>
  <!-- What shall with do with a drunken sailor?
  <h2>Categories</h2>
  <% if @categories && @categories.length > 0 %>
    <ul>
      <% @categories.each do |category| %>
        <li><%= category.name %> (<%= link_to "Delete", admin_category_path(category), :method => :delete, :class => :delete, :confirm => "Are you sure? There is no undo." %>)</li>
      <% end %>
    </ul>
  <% end %>
  <div id="new-category">
    <%= form_for([:admin, Category.new]) do |f| %>
      <p>
        <label><strong>New category</strong></label>
        <%= f.text_field :name %>
        <%= submit_tag "Save" %>
      </p>
    <% end %>
  </div>
  <div id="new-category-button">
    <p><%= button_to_function "Add a new category", 'toggleNewCategory();' %></p>
  </div>
  -->
<% end %>

<div class="content">
  <% if @root_pages.length < 1 -%>
    <p>No pages found</p>
  <% else -%>
    <ul class="pagelist reorderable">
      <% @root_pages.each do |page| -%>
        <%= render :partial => "pagelisting", :locals => { :page => page } %>
      <% end -%>
    </ul>
  <% end -%>
</div>
