<% content_for :page_title, "New page" %>
<% content_for :page_description do %>
  <% if @page.parent %>
    <em><%= @page.parent.name %></em> &raquo; New Page
  <% else %>
    You are creating a new root page
  <% end %>
<% end %>

<% content_for :main_wrapper do %>
  <%= form_for(@page,
               url: admin_pages_url(@locale),
               builder: PagesCore::Admin::FormBuilder,
               html: {
                 class: "edit-page main-wrapper",
                 data: {
                   controller: "edit-page",
                   "edit-page-target": "form"
                 }
               }) do |f| %>

    <% content_for :main do %>
      <div class="content">
        <%= f.hidden_field "parent_page_id" if @page.parent %>

        <%= render(partial: "form", locals: { f: f }) %>

        <div class="buttons">
          <button type="submit">
            Save
          </button>
        </div>
      </div>
    <% end %>

    <main data-controller="main">
      <%= render(partial: "layouts/admin/page_header") %>
      <%= yield :main %>
    </main>

    <aside class="sidebar" id="page-form-sidebar">
      <%= render partial: "edit_options", locals: { f: f } %>
    </aside>
  <% end %>
<% end %>
