<%
  if @page.parent
    self.page_title = "New page"
    self.page_description = "<em>#{@page.parent.name}</em> &raquo; New Page"
  else
    self.page_title = "Create new page"
    self.page_description = "You are creating a new root page"
  end

  @url_options = { action: :new }
  @url_options[:parent] = @page.parent if @page.parent
%>

<% content_for :main_wrapper do %>
  <%= form_for(@page,
               url: admin_pages_url(@locale),
               builder: PagesCore::Admin::FormBuilder,
               html: {
                 class: "edit-page main-wrapper",
                 id: 'page-form',
                 method: :post,
                 multipart: true
               }
  ) do |f| %>

    <% content_for :main do %>
      <div class="content">
        <%# #### CONTENT #### %>
        <%= content_tab "Content" do %>
          <%= render partial: 'edit_content', locals: { f: f } %>
        <% end %>

        <div class="buttons">
          <button type="submit">
            Save
          </button>
        </div>
      </div>
    <% end %>

    <main data-controller="main">
      <%= render(partial: "layouts/admin/page_header") %>
      <%= yield :main %>
    </main>

    <aside class="sidebar" id="page-form-sidebar">
      <%= render partial: 'edit_options', locals: { f: f } %>
    </aside>
  <% end %>
<% end %>
