<% content_for :page_title, "Search pages" %>

<% content_for :page_description do %>
  Search pages
<% end %>

<% content_for :page_description_links do %>
  <%= locale_links { |l| search_admin_pages_path(l, q: search_query) } %>
<% end %>

<%= render(partial: "admin/pages/search_bar",
           locals: { query: search_query }) %>

<% if @search_documents&.any? %>
  <table class="list calendar-item-list">
    <tr>
      <th>Name</th>
      <th>Published</th>
      <th>Author</th>
      <th>Location</th>
    </tr>
    <% @search_documents.results.each do |page| %>
      <%= page_list_row(page) do %>
        <td class="name">
          <%= link_to_if(policy(page).edit?,
                         page_name(page),
                         edit_admin_page_url(content_locale, page),
                         class: 'name_link') %>
          <%= autopublish_notice(page) %>
        </td>
        <td>
          <%= page_published_status(page) %>
        </td>
        <td>
          <%= link_to(page.author.name, admin_user_path(page.author)) %>
        </td>
        <td>
          <% if page.parent %>
            <%= page_name(page.parent, include_parents: true) %>
          <% else %>
            Top level
          <% end %>
        </td>
      <% end %>
    <% end %>
  </table>
  <%= will_paginate(@search_documents, renderer: PagesCore::LinkRenderer) %>
<% elsif @search_documents %>
  <div class="content">
    <p>
      Found no results for your search query.
    </p>
  </div>
<% end %>
