<% if policy(Page).new? %>
  <h2>
    New entry
  </h2>
  <p>
    <%= form_tag new_admin_page_path, method: :get do %>
      In
      <%= select_tag("parent", calendar_page_options(locale)) %>
      <button type="submit">
        Go
      </button>
    <% end %>
  </p>
<% end %>

<div class="archive-index">
  <% calendar_years_with_count.each do |year, year_count| %>
    <h2>
      <%= link_to_unless_current(
        year,
        admin_calendar_path(locale, year: year)
      ) %>
      <span class="count">
        (<%= year_count %>)
      </span>
    </h2>
    <ul>
      <% calendar_months_count(year).each do |month, month_count| %>
        <li>
          <% if year == @year && month == @month %>
            <strong>
              <%= month_name(month) %>
            </strong>
          <% else %>
            <%= link_to_unless_current(
              month_name(month),
              admin_calendar_path(locale, month: month, year: year)
            ) %>
          <% end %>
          <span class="count">
            (<%= month_count %>)
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
