<%
  month_names = %w{January February March April May June July August September October November December}
  page_title "Calendar"
  page_description "Calendar"

  if PagesCore.config.localizations?
    self.page_description_links = 'In ' + PagesCore.config.locales.map{ |l, n| link_to_unless_current n, calendar_admin_pages_path(l) }.join(link_separator)
  end
%>

<% content_for :sidebar do %>
  <h2>New entry</h2>
  <p>
    <%= form_tag new_admin_page_path, method: :get do %>
      In <%= select_tag('parent',
                        options_for_select(calendar_pages(@locale).map{|p| [page_name(p, include_parents: true).gsub("&raquo;", "»"), p.id] })) %>
      <%= submit_tag "Go", name: nil %>
    <% end %>
  </p>

  <div class="archive-index">
    <% calendar_years_with_count.each do |year, year_count| %>
      <h2>
        <%= link_to_unless_current(year,
                                   admin_calendar_path(
                                     @locale,
                                     year: year)
        ) %>
        <span class="count">
          (<%= year_count %>)
        </span>
      </h2>
      <ul>
        <% calendar_months_count(year).each do |month, month_count| %>
          <li>
            <% if year == @year && month == @month %>
              <strong>
                <%= month_names[month-1] %>
              </strong>
            <% else %>
              <%= link_to_unless_current(
                month_names[month-1],
                admin_calendar_path(@locale,
                                    month: month,
                                    year: year)) %>
            <% end %>
            <span class="count">
              (<%= month_count %>)
            </span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<% if @pages.any? %>
  <table class="list calendar-item-list">
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Published</th>
      <th>Section</th>
    </tr>
    <% @pages.each do |page| %>
      <%= render(partial: "admin/pages/list_item",
                 locals: {
                   page: page,
                   date: true,
                   section: true,
                   sections: @parents
                 }) %>
    <% end %>
  </table>

  <%= will_paginate @pages %>
<% else %>
  <div class="content">
    <p>
      No calendar items have been posted yet.
    </p>
  </div>
<% end %>
