<% content_for :page_title, "Calendar" %>
<% content_for(:page_description) do %>
  Calendar:
  <em>
    <% if @month %>
      <%= month_name(@month) %>
    <% end %>
    <%= @year %>
  </em>
<% end %>

<% content_for :page_description_links do %>
  <%= locale_links { |l| admin_calendar_path(l, @year) } %>
<% end %>

<% content_for :sidebar do %>
  <h2>New entry</h2>
  <p>
    <%= form_tag new_admin_page_path, method: :get do %>
      In <%= select_tag('parent',
                        options_for_select(calendar_pages(@locale).map{|p| [page_name(p, include_parents: true).gsub("&raquo;", "»"), p.id] })) %>
      <%= submit_tag "Go", name: nil %>
    <% end %>
  </p>

  <div class="archive-index">
    <% calendar_years_with_count.each do |year, year_count| %>
      <h2>
        <%= link_to_unless_current(year,
                                   admin_calendar_path(
                                     @locale,
                                     year: year)
        ) %>
        <span class="count">
          (<%= year_count %>)
        </span>
      </h2>
      <ul>
        <% calendar_months_count(year).each do |month, month_count| %>
          <li>
            <% if year == @year && month == @month %>
              <strong>
                <%= month_name(month) %>
              </strong>
            <% else %>
              <%= link_to_unless_current(
                month_name(month),
                admin_calendar_path(@locale,
                                    month: month,
                                    year: year)) %>
            <% end %>
            <span class="count">
              (<%= month_count %>)
            </span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<% if @pages.any? %>
  <table class="list calendar-item-list">
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Published</th>
      <th>Section</th>
    </tr>
    <% @pages.each do |page| %>
      <%= render(partial: "admin/pages/list_item",
                 locals: {
                   page: page,
                   date: true,
                   section: true,
                   sections: @parents
                 }) %>
    <% end %>
  </table>

  <%= will_paginate @pages %>
<% else %>
  <div class="content">
    <p>
      No calendar items have been posted yet.
    </p>
  </div>
<% end %>
