<%= render(partial: "admin/pages/search_bar",
           locals: { query: search_query }) %>

<% if policy(Page).new? %>
  <h2>New article</h2>
  <p>
    <%= form_tag new_admin_page_path, method: :get do %>
      In
      <%= select_tag("parent", news_page_options(news_pages)) %>
      <button type="submit">
        Go
      </button>
    <% end %>
  </p>
<% end %>

<div class="archive-index">
  <% archive_finder.years_with_count.reverse.each do |year, year_count| %>
    <h2>
      <%= link_to_unless_current(
        year,
        admin_news_index_path(locale, year: year, category: category&.slug)
      ) %>
      <%= ": #{@category.name}" if @category %>
      <span class="count">
        (<%= year_count %>)
      </span>
    </h2>
    <ul>
      <% archive_finder.months_in_year_with_count(year).reverse.each do |month, page_count| %>
        <li>
          <% if year == @year && month == @month %>
            <strong>
              <%= month_name(month) %>
            </strong>
            (<%= page_count %>)
          <% else %>
            <%= link_to(
              month_name(month),
              admin_news_index_path(locale, year: year, month: month,
                                    category: category&.slug)
            ) %>
            <span class="count">
              (<%= page_count %>)
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
