<% content_for(:page_title, "News") %>

<% content_for(:page_description) do %>
  News:
  <em>
    <% if @month %>
      <%= month_name(@month) %>
    <% end %>
    <%= @year %>
  </em>
<% end %>

<% content_for :page_description_links do %>
  <%= locale_links { |l| admin_news_index_path(l, @year) } %>
<% end %>

<% content_for :sidebar do %>
  <%= render(partial: "sidebar",
             locals: {
               locale: content_locale,
               news_pages: @news_pages,
               archive_finder: @archive_finder
             }) %>
<% end %>

<% if @pages.length > 0 %>
  <table class="list news-item-list">
    <tr>
      <th>Name</th>
      <th>Published</th>
      <th>Author</th>
      <th>Section</th>
    </tr>
    <% @pages.each do |page| %>
      <%= render(partial: "admin/pages/list_item",
                 locals: {
                   page: page,
                   author: true,
                   section: true,
                   sections: @news_pages
                 }) %>
    <% end %>
  </table>

  <%= will_paginate @pages, renderer: PagesCore::LinkRenderer %>
<% else %>
  <div class="content">
    <p>
      No news items have been posted yet.
    </p>
  </div>
<% end %>
