<header>
  <div class="logo">
    <%= link_to image_tag("pages/admin/icon.svg"), '/admin' %>
  </div>
  <div class="site-name">
    <h1>
      <%= link_to "Pages", "/admin" %> <%= PagesCore.config :site_name %>
    </h1>
  </div>
  <% if logged_in? %>
    <div class="user">
      Hello, <%= link_to(current_user.name, admin_user_url(current_user)) %>
      <%= link_separator %>
      <%= link_to("Log out", session_path, method: "delete") %>
    </div>
  <% end %>
  <nav class="tabs">
    <% if logged_in? %>
      <%= header_tabs(:pages) %>
      <%= header_tabs(:pages_plugins) %>
      <%= header_tabs(:custom) %>
      <%= header_tabs(:account) %>
    <% end -%>
  </nav>
</header>
