<% if content_for?(:page_description) || @content_tabs %>
  <div class="page-description"<% if @content_tabs %> class="with_content_tabs"<% end %>>
    <% if content_for?(:page_description_links) %>
      <div class="links">
        <%= content_for(:page_description_links) %>
      </div>
    <% end %>
    <h3>
      <%= content_for(:page_description) || content_for(:page_title) %>
    </h3>
    <% if @content_tabs %>
      <ul class="content-tabs"
          role="tablist">
        <% @content_tabs.map do |t| %>
          <li id="content-tab-link-<%= t[:key] %>"
              data-tab="<%= t[:key] %>"
              data-main-target="link">
            <% if t[:options][:disabled] == true %>
              <%= t[:name] %>
            <% else %>
              <%= link_to(
                t[:name],
                { anchor: "#{t[:key]}" },
                data: {
                  action: "click->main#changeTab",
                  tab: t[:key]
                },
                role: "tab") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
