<% content_for :page_title, "Welcome" %>
<% content_for :page_description, "Welcome to Pages" %>

<div class="content">
  <p>
    Welcome to Pages! Before you can log on, we need to create your user account.
  </p>
</div>

<%= form_for(@user,
             url: accept_admin_invite_path(@invite, token: @invite.token),
             builder: PagesCore::FormBuilder) do |f| %>
  <%= f.labelled_text_field :name, autocomplete: "name" %>
  <%= f.labelled_text_field :email, autocomplete: "email" %>
  <%= f.labelled_password_field(:password,
                                autocomplete: "new-password") %>
  <%= f.labelled_password_field(:password_confirmation,
                                autocomplete: "new-password") %>
  <p>
    <button type="submit">
      Sign up
    </button>
  </p>
<% end %>
