<table class="list">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Can access</th>
    <th>Last seen</th>
    <th></th>
  </tr>
<% @users.each do |user| -%>
  <tr class="<%=
    classes = []
    classes.join( " " )
   %>">
    <td>
      <strong><%= link_to user.name, admin_user_url( user ) %></strong>
      <% if policy(user).edit? %>
        (<%= link_to "edit", edit_admin_user_url( user ), :class => :edit %>)
      <% end %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <td><%= user.roles.map(&:to_s).to_sentence %></td>
    <td>
      <% if user.online? -%>
        <strong>Online now</strong>
      <% elsif user.last_login_at -%>
        <%= time_ago_in_words( user.last_login_at ) %> ago
      <% else %>
        <em>(Not logged in yet)</em>
      <% end -%>
    </td>
    <td class="note">
      <%=
        notes = []
        notes << "Deactivated" unless user.activated?
        notes.join( ", " )
      %>
    </td>
  </tr>
<% end -%>
</table>
