<%
  page_title       "Editing user: #{@user.realname}"
  if @user == @current_user
    page_description "You are editing " + link_to("your own", [:admin, @user]) + " profile."
  else
    page_description "You are editing " + link_to("#{@user.realname}", [:admin, @user]) + "'s profile."
  end
  page_description_links link_to("View all users", admin_users_path)
%>

<% content_for :sidebar do %>
  <h2>Changing login details</h2>
  <p>
    A notification will be sent by email if the username or password fields are changed.
  </p>
  <% if @user != @current_user && @user.is_deletable? %>
    <h2>Preventing access</h2>
    <p>
      Unchecking the <cite>This account is activated</cite> box will effectively disable
      logins.
    </p>
  <% end %>
<% end %>

<%= form_for [:admin, @user], :html => {:multipart => true}, :builder => PagesCore::FormBuilder do |f| %>

  <%= f.hidden_field :is_admin %>

  <h2>Account details</h2>
  <%= f.labelled_text_field :realname %>
  <%= f.labelled_text_field :email %>
  <%= f.labelled_text_field :mobile %>
  <%= f.labelled_text_field :web_link %>

  <h2>Picture</h2>
  <% if @user.image %>
    <p id="user-image-info">
      <%= (@user==@current_user) ? "You already have" : "#{@user.realname} already has" %> a profile picture.
      You can
      <%= link_to "delete it", delete_image_admin_user_path(@user), :method => :delete, :class => :delete %>
      or upload a new file below to replace it.
    </p>
  <% end %>

  <%= f.labelled_file_field :image %>

  <h2>Login options</h2>
  <%= f.labelled_text_field :username %>
  <%= f.labelled_text_field :password, 'Change password' %>
  <p>
    Leave the password blank if you do not wish to change the password.
    <%= link_to("Click here", "#", class: :generate_password) %>
    to generate a random password.
  </p>

  <% if @user == @current_user %>
    <%= f.labelled_text_field :openid_url %>
  <% end %>

  <% unless @user == @current_user || !@user.is_deletable? %>
    <p>
      <%= f.check_box :is_activated %> The user account is activated<br />
    </p>
  <% end %>

  <p>
    <button type="submit">Save</button>
  </p>

<% end %>
