<%
  self.page_title = "Sign in"
  self.page_description = "Please enter your email address and password to sign in"
  add_body_class "login"
-%>

<% content_for :sidebar do %>
  <h2>Please note</h2>
  <p>
    Please contact support if you experience problems logging in or using Pages.
  </p>
<% end %>

<div class="login-form"
     data-controller="login">
  <div class="login-tab password"
       data-login-target="tab"
       data-tab="password">
    <%= form_tag session_path do %>
      <p>
        <label>Email address</label>
        <%= text_field_tag :email, '' %>
      </p>
      <p>
        <label>Password</label>
        <%= password_field_tag :password, '' %>
      </p>
      <p>
        <button type="submit">Sign in</button>
      </p>
      <ul>
        <li>
          <%= link_to("<b>Help!</b> I forgot my password!".html_safe,
                      login_admin_users_path,
                      data: {
                        action: "click->login#changeTab",
                        tab: "password-reset"
          }) %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="login-tab password-reset"
       data-login-target="tab"
       data-tab="password-reset">
    <%= form_tag admin_password_resets_path do %>
      <h2>
        Forgot your password?
      </h2>
      <p>
        Don't worry, it happens.
        Enter your email address below,
        and we'll send you a link where you can reset your password.
      </p>
      <p>
        <%= text_field_tag :email, '' %>
      </p>
      <p>
        <button type="submit">
          Send
        </button>
      </p>
    <% end %>
  </div>
</div>
