<%
  page_title       "Sign in"
  page_description "Please enter your username and password to sign in"
  add_body_class   "login"
-%>

<% content_for :sidebar do %>
  <h2>Please note</h2>
  <p>
    Microsoft Internet Explorer 6 and 7 are not supported.
  </p>
  <p>
    We recommend using one of the following browsers:
  </p>
  <ul>
    <li><%= link_to 'Google Chrome', 'http://www.google.com/chrome' %></li>
    <li><%= link_to 'Firefox', 'http://mozilla.com/firefox' %></li>
    <li><%= link_to 'Safari', 'http://www.apple.com/safari/' %></li>
  </ul>
  <p>
    Please <%= link_to "contact support", 'http://support.manualdesign.no/' %> if you experience problems logging in or using Pages.
  </p>
<% end %>


<%= login_form(success_url: admin_default_path, login_url: login_admin_users_path) %>
