<%
  page_title       "New user"
  page_description "You are inviting a new user", :create
%>

<% content_for :sidebar do %>
  <h2>Inviting a new user</h2>
  <p>
    An email with the login details will be sent.
  </p>
<% end %>

<%= form_for [:admin, @user], :builder => PagesCore::FormBuilder do |f| %>

  <%= f.hidden_field :is_activated %>

  <%= f.labelled_text_field :realname %>
  <%= f.labelled_text_field :email %>
  <%= f.labelled_text_field :username %>

  <%= render partial: "access_control", locals: { user: @user, f: f } %>

  <p>
    <button type="submit">Send invite</button>
    or
    <%= link_to "Cancel and go back", admin_users_path, :class => :cancel %>
  </p>

<% end %>
