<%
  page_title       "Welcome"
  page_description "Welcome to Pages"
%>

<div class="content">
  <p>Welcome to Pages! Before you can log on, we need to create the first user account. Please choose your desired username and password.</p>
</div>

<%= form_for @user, :method => :post, :url => create_first_admin_users_path do |f| %>

  <%= labelled_field f.text_field(:realname), "Your name",
    :errors => @user.errors[:realname]
  %>
  <%= labelled_field f.text_field(:email), "Email address",
    :errors => @user.errors[:email]
  %>
  <%= labelled_field f.text_field(:username), "Username",
    :errors => @user.errors[:username]
  %>
  <%= labelled_field f.text_field( :password ), "Password",
    :description => link_to_function("Click here", "", :class => :generate_password) + " to generate a random password.",
    :errors => @user.errors[:password]
  %>
  <%= labelled_field f.text_field(:openid_url), "OpenID URL",
    :errors => @user.errors[:openid_url]
  %>
  <p>
    <%= submit_tag 'Create' %>
  </p>

<% end %>

