<%
  page_title       "Welcome"
  page_description "Welcome to Pages"
%>

<div class="content">
  <p>Welcome to Pages! Before you can log on, we need to create the first user account. Please choose your desired username and password.</p>
</div>

<%= form_for [:admin, @user], :url => create_first_admin_users_path, :builder => PagesCore::FormBuilder do |f| %>

  <%= f.labelled_text_field :realname, "Your name" %>
  <%= f.labelled_text_field :email %>
  <%= f.labelled_text_field :username %>

  <%= f.labelled_text_field :password %>
  <p>
    <%= link_to("Click here", "#", class: :generate_password) %>
    to generate a random password.
  </p>

  <p>
    <button type="submit">Get started</button>
  </p>

<% end %>

