<!doctype html>
<%= tag.html(lang: locale) do %>
  <%= head_tag do %>
    <%# default_meta_image "/images/facebook-share.png" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= feed_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <% end %>
  <body>
    <% if Rails.env.development? %>
      <div class="grid-overlay"></div>
    <% end %>
    <%= yield %>
  </body>
<% end %>
