<%= head_tag do %>
  <%# default_meta_image "/images/facebook-share.png" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= feed_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%# google_analytics_tags "UA-xxxxxxxx-1" %>
<% end %>
<body>
  <%= yield %>
</body>
</html>
