<%
	page_title       "Compose newsletter"
	page_description "You are composing a newsletter", :create
%>

<% sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<%= form_tag( {:action => :send_message}, :multipart => true ) %>

	<%= labelled_field( 
			text_field_tag( "sender", @sender, :size => 60 ), 
			"Sender",
			:description => "This can be changed as long as you keep the format."
		)
	%>
	<%= labelled_field text_field_tag( "subject", "", :size => 60 ), "Subject" %>
	<%= labelled_field text_area_tag( "message", "", :size => "60x20" ), "Message" %>
	<% if PagesCore.config.newsletter.template %>
		<%= labelled_field select_tag( "template", options_for_select(Mailing.templates) ), "Template" %>
	<% end %>
	<% if PagesCore.config.newsletter.image %>
		<%= labelled_field file_field_tag("image"), "Image" %>
	<% end %>

	<%# labelled_field check_box_tag( "save_newsletter", "1", true ), "Save newsletter" %>

	<div class="field"><p>
		<label>Send to</label><br />
		<% @groups.each do |group| %>
			<%= check_box_tag "send_to[#{group[:id]}]", "1", false, :id => "send_to_#{group[:id]}"%>
			<%= group[:name] %> <small>(<%= group[:count] %>)</small><br />
		<% end %>
	</p></div>
	
	<p>
		<%= submit_to_remote('preview_button', "Preview", :url => {:action => :preview}, :success => "showPreview(request.responseText);" )%>
		<%= submit_tag "Send" %>
	</p>

</form>

<script type="text/javascript">
	function showPreview(content) {
		previewWindow = window.open('','newsletter_preview');
		var output = previewWindow.document;
		output.write(content);
		output.close();
	}
</script>