<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Pages<% if @page_title %> : <%= @page_title %><% end %></title>
    <link rel="shortcut icon" href="/plugin_assets/pages/images/favicon.gif?" type="image/gif" />
    <link rel="icon"          href="/plugin_assets/pages/images/favicon.gif?" type="image/gif" />

	<%= javascript_include_tag "fastinit", :plugin => 'pages' %>
	<%= javascript_include_tag "prototype", :plugin => 'pages' %>
	<%= javascript_include_tag "jquery", :plugin => 'pages' %>
	<script type="text/javascript">jQuery.noConflict();</script>
	<%= javascript_include_tag "jquery-ui", :plugin => 'pages' %>

	<%= javascript_include_tag "effects", :plugin => 'pages' %>
	<%= javascript_include_tag "dragdrop", :plugin => 'pages' %>
	<%= javascript_include_tag "controls", :plugin => 'pages' %>

	<%= javascript_include_tag "swfobject", :plugin => 'pages' %>
	<%= javascript_include_tag "lightbox", :plugin => 'pages' %>

	<%= javascript_include_tag "jquery.libraries.js", :plugin => 'pages' %>

	<%= admin_javascript_tags %>

	<%= stylesheet_link_tag "admin", :plugin => 'pages' %>
	<%= stylesheet_link_tag "admin/print", :plugin => 'pages', :media => 'print' %>
</head>
<body class="<%= body_classes %>">

	<%# Header %>
	<div id="header">
		<div id="logo"><%= link_to image_tag( "/plugin_assets/pages/images/admin/icon.png"), '/admin' %></div>
		<div id="site-name"><h1><%= link_to "Pages", "/admin" %> <%= PagesCore.config :site_name %></h1></div>
		<% if @current_user -%>
			<div class="user">
				Hello, <%= link_to(@current_user.realname, admin_user_url(@current_user)) %>
				<%= link_separator %>
				<%= link_to( "Log out", logout_admin_users_path ) %>
			</div>
		<% end -%>
		<div class="tabs">
			<% if @current_user && @admin_menu -%>
				<%= header_tabs :class => :pages -%>
				<%= header_tabs :class => :pages_plugins -%>
				<%= header_tabs :class => :custom -%>
				<%= header_tabs :class => :account -%>
			<% end -%>
		</div>
	</div>

	<%# Error and notice flashes %>
	<% [:error, :notice].select{|f| flash[f]}.each do |flash_level| %>
		<div id="flash-<%= flash_level %>"><%= flash[flash_level] %></div>
	<% end %>

	<%# Sidebar %>
	<% if @sidebar && !@sidebar.empty? -%>
		<div id="sidebar"><%= @sidebar %></div>
	<% end %>

	<%# Main content area %>
	<div id="main">

		<%# Page description and content tabs area %>
		<% if @page_description || @content_tabs %>
			<div id="page-description"<% if @content_tabs %> class="with_content_tabs"<% end %>>
				<% if @page_description_links -%>
				<div class="links"><%= @page_description_links %></div>
				<% end %>
				<h3><%= @page_description || @page_title %></h3>
				<% if @content_tabs %>
					<ul id="content-tabs">
						<% @content_tabs.map do |t| %>
							<li id="content-tab-link-<%= t[:key] %>">
								<% if t[:options][:disabled] == true %>
									<%= t[:name] %>
								<% else %>
									<%= link_to(t[:name], :anchor => "#{t[:key]}") %>
								<% end %>
							</li>
						<% end %>
					</ul>
				<% end %>
			</div>
		<% end %>

		<%# Template output %>
		<%= yield %>
	</div>
	
	<%# Javascript magic %>
	<% if @content_tabs %><script type="text/javascript">
		PagesAdmin.contentTabs.enable(new Array(<%= @content_tabs.map{ |t| "'#{t[:key]}'" }.join(", ") %>));
	</script><% end %>
	
	<%# multiple domain tracking for usage statistics %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-5468672-21']);
	  _gaq.push(['_setDomainName', 'none']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</body>
</html>



