<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      <%= [@page_title, "Pages"].reject(&:blank?).uniq.join(" - ") %>
    </title>

    <link rel="shortcut icon"
          href="<%= asset_path 'pages/favicon.gif' %>"
          type="image/gif" />
    <link rel="icon"
          href="<%= asset_path 'pages/favicon.gif' %>"
          type="image/gif" />

    <%= stylesheet_link_tag "pages/admin" %>

    <% if Dir.glob(Rails.root.join("app/assets/stylesheets/admin.*")).any? %>
      <%= stylesheet_link_tag "admin" %>
    <% end %>

    <%= javascript_include_tag "pages/admin" %>
    <% if Dir.glob(Rails.root.join("app/assets/javascripts/admin.*")).any? %>
      <%= javascript_include_tag "admin" %>
    <% end %>

    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="<%= body_classes.join(" ") %>"
        data-controller="<%= controller.class.to_s %>"
        data-action="<%= controller.action_name %>"
        data-locale="<%= @locale %>">

    <div class="wrapper">

      <%= render partial: "layouts/admin/header" %>

      <div class="main-wrapper">
        <main>
          <% if @page_description || @content_tabs %>
            <div id="page-description"<% if @content_tabs %> class="with_content_tabs"<% end %>>
              <% if @page_description_links -%>
                <div class="links">
                  <%= @page_description_links.html_safe %>
                </div>
              <% end %>
              <h3>
                <%= (@page_description || @page_title).html_safe %>
              </h3>
              <% if @content_tabs %>
                <ul id="content-tabs">
                  <% @content_tabs.map do |t| %>
                    <li id="content-tab-link-<%= t[:key] %>" data-tab-name="<%= t[:key] %>">
                      <% if t[:options][:disabled] == true %>
                        <%= t[:name] %>
                      <% else %>
                        <%= link_to(t[:name], anchor: "#{t[:key]}") %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          <% end %>

          <%= yield %>
        </main>

        <% if content_for?(:sidebar) %>
          <aside class="sidebar">
            <%= content_for(:sidebar) %>
          </aside>
        <% end %>
      </div>
    </div>
    <%= react_component "Modal", {} %>
    <%= render partial: "layouts/admin/analytics" %>
  </body>
</html>
