<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= @page_title || "We're sorry" %></title>
	<%= stylesheet_link_tag "pages/errors" %>
</head>
<body>
	<div id="content">
		<% if @page_title -%>
			<h1><%= @page_title %></h1>
		<% end -%>
		<%= yield %>
		<% if @error_id %>
			<p class="error_id">
				Error ID: <%= @error_id %>
			</p>
		<% end %>
	</content>
</body>
</html>
